@import "./settings";  
@import "../styles/layouts/animations"; 

// Parametres globeaux 

h2 {
	font-family: 'Shrikhand', cursive;
}
h3 {
	font-family: Roboto;
}
h4 {
	font-family: Roboto;
}
p {
	font-family: Roboto;
    font-size: 0.9rem; 
    margin: 0.5rem 1rem 1rem 1rem; 
}

h3 {
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom: 0.3rem solid $color3;
	line-height: 1.5rem;
	width: 2.5rem;
	margin: 1rem 0 0 1rem;
}
h4 {
	font-size: 1.15rem;
	margin: 1rem 0rem 0.5rem 1rem;
}
 
 
@import "../styles/layouts/header";  
header {
    .fa-arrow-left {
	position: absolute;
	transform: translateY(-50%);
	left: 3rem;
	top: 2.5rem; 
} 
}
 
main {
	font-family: 'roboto', sans-serif;
	#dish_img {
		width: auto;
		height: auto;
		position: relative;
		z-index: 1;
			img {
				width: 100%;
				height: 35vh;
				object-fit: cover;
				object-position: 50% 70%;
	    }

	}
	#menu {
			margin: 0 auto;
			width: auto;
			height: auto;
			background-color: $lightgrey;
			border-radius: 1rem 1rem 0 0;
			gap: 1.5rem;
			position: relative;
			z-index: 3;
			margin-top: -5rem;
			display: grid;
			max-width: 1055px;
				h2 {
					margin: 1rem 2rem;    
					i {
						padding-left: 1rem;    
					}
				}	 
		} 
} 

@media only screen and (min-width: 700px) {
	main {
		#menu {
			h2 {
				text-align: center;
			}
		}
	}
}
 
main {
	section {
	.container-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin: 0 1rem 0 1rem;
 } 
		.cards {
			border-radius: 0.9rem;
			background: $white;
			box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
			width: 100%;
			margin: 0 2rem;
			max-width: 634px; 
			@include points;
			position: relative;
	  
			&:hover {
				.cards_price {
					right: 6rem;
					transition: 1000ms;
				 } 

				.cards_checkout {
					right: 0rem;
					transition: 1000ms;
					opacity: 1;
				}

				.cards_checkout i {
					transform: rotate(360deg);
				 } 
			} 

			.cards_info { 
				@include points;
		    }

			.cards_price {
			    position: absolute;
				color: #353535;
				text-align: center;
				font-family: Roboto;
				font-size: 1rem;    
				font-weight: 700;
				right: 1rem;
				bottom: 0rem; 
				 
		    }
			
			.cards_checkout {
			position: absolute;
			right: -5rem;
			border-radius: 0px 15px 15px 0px;
			background-color: $color3;
			font-size: 2rem;
			bottom: 0rem; 
    		opacity: 0;
			 
		    }  

			 i { 
				color: #ffffff;
				padding: 1.5rem; 
				transform: rotate(0deg);
				transition: transform 750ms ease;
			}
		} 
	}
}

@media only screen and (min-width: 800px) {
	#menu {
		h3 {
			margin: 0 13rem;
		}
		.cards {
			margin: 0 13rem;
		}
	}
}
 
.order {
	display: flex;
	justify-content: center;
}
  
@import "../styles/layouts/buttons";    
@import "../styles/layouts/footer"; 