@import "./settings";  
@import "../styles/layouts/animations"; 
 
// Parametres globeaux 
 
main {
    font-family: 'roboto', sans-serif;
}  

@import "../styles/layouts/header"; 

// section location

#location {
    @include grid-center;
	background-color: $grey;
	padding: 1em;
}

.location_icon {
	margin-right: 1.06em;
}
 
// section discover

#discover {
    @include grid-center;
	background: $lightgrey;
	justify-items: center;
	text-align: center;
	h2 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 1rem 2rem 0 2rem;
	}
	p {
		color: $darkgrey;
		margin: 1rem 1rem 0 2rem;
	}
}
 
/** section Instructions **/
 

@import "../styles/layouts/buttons";  

// section restaurants

 
@import "../styles/layouts/footer"; 