@import "./settings";  
@import "../styles/layouts/animations"; 
 
// Parametres globeaux 
 
main {
    font-family: 'roboto', sans-serif;
}  

@import "../styles/layouts/header"; 

// section location

#location {
    @include grid-center;
	background-color: $grey;
	padding: 1em;
}

.location_icon {
	margin-right: 1.06em;
}
 
// section discover

#discover {
    @include grid-center;
	background: $lightgrey;
	justify-items: center;
	text-align: center;
	h2 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 1rem 2rem 0 2rem;
	}
	p {
		color: $darkgrey;
		margin: 1rem 1rem 0 2rem;
	}
}
 
/** section Instructions **/

#instructions {
	background: $white;
	display: grid;
	h2 {
		margin: 2rem 2rem 2rem 2rem;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
		margin: 3rem;
		padding: 0;
		li {
			border-radius: 1.25rem;
			background: $lightgrey;
			position: relative;
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
			padding: 1.5rem 1em 1.5em 2.5rem;

				.solid_icon {
					padding-right: 1rem;
				}
		}
		span {
			position: absolute;
			padding: 0.2rem 0.5rem;
			background-color: $color1;
			border-radius: 50%;
			color: $lightgrey;
			transform: translateX(-50%);
			left: 0rem;
			bottom: 1.3rem;
		}
	} 
} 
@media only screen and (min-width: 768px) {
	#instructions {
		ul {
			margin: 1rem 4rem 3rem 4rem;
			gap: 2rem;
		}
	}
}
@media only screen and (min-width: 992px) {
	#instructions {
		h2 {
			margin: 2rem 2rem 2rem 2rem;
		}
		ul {
			margin: 1rem 4rem 3rem 4rem;
		}
	}
}
@media only screen and (min-width: 1025px) {
	#instructions {
		h2 {
			margin: 2rem 2rem 2rem 5rem;
		}
		ul {
			grid-template-columns: repeat(3, 1fr);
			margin: 1rem 5rem 3rem 5rem;
		}
	}
}
@media only screen and (min-width: 1200px) {
	#instructions {
		h2 {
			margin: 2rem 2rem 2rem 10rem;
		}
		ul {
			margin: 1rem 10rem 3rem 10rem;
		}
	}
}

@import "../styles/layouts/buttons";  

// section restaurants
#restaurants {
	display: grid;
	background: #F6F6F6;
	h2 {
		margin: 2rem 2rem 2rem 2.5rem;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 3rem;
		padding-right: 2.5rem;
		padding-bottom: 2.5rem;
		li {
			width: auto;
			height: 16rem;
			border-radius: 1em;
			background: $white;
			position: relative;
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
			span {
				position: absolute;
			}
			.new-contents {
				padding: 0.5em;
				border-radius: 0.15rem;
				background:$color3;
				color: $darkgreen;
				text-align: center;
				font-size: 0.8rem;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
				transform: translateX(-50%);
				top: 0.8rem;
				right: -1rem;
			}
			a {
				img {
					height: 70%;
					width: 100%;
					object-fit: cover;
					border-radius: 1rem 1rem 0 0;
				}
				h3 {
					color: #000;
					font-size: 1.2rem;
					font-weight: 800;
					margin: 0.5rem 0 0.1rem 1rem;
				}
				p {
					color: #000;
					font-size: 1rem;
					font-weight: 300;
					margin: 0.2rem 0 0 1rem;
				}
			  }			

	     .favorite_restaurant {
			position: absolute;
			top: 79%;
			right: 7%;
			font-size: 1.5rem;
					.like_button {
						width: 28px; 
						font-size: 25px;
						padding: 0;
						border: transparent 0px solid;
						background-color: transparent; 
						cursor: pointer;
						
							&:hover {
								.fa-heart {
								animation: heart_filling 900ms forwards cubic-bezier(0.65, 1.01, 0.98, 1.06);
								background: linear-gradient(#FF79DA, #9356DC);
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
								font-weight: bold;
							}
						}
					}
				 
			}
		} 
	} 
} 
@media only screen and (min-width: 768px) { 
	#restaurants {
		ul {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media only screen and (min-width: 1025px) {
	#restaurants {
		h2 {
			margin: 2rem 2rem 2rem 5rem;
		}
		ul {
			margin: 0 2.5rem;
			padding-bottom: 3.5rem;
		}
	}
}
@media only screen and (min-width: 1200px) {
	#restaurants {
		h2 {
			margin: 2rem 2rem 2rem 10rem;
		}
		ul {
			margin: 0 7.5rem;
			padding-bottom: 4rem;
		}
	}
} 
 
@import "../styles/layouts/footer"; 