@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap";
* {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}
@-webkit-keyframes loader {
  0% {
    height: 100vh;
    width: 100vw;
    opacity: 1;
  }
  100% {
    height: 100vh;
    width: 100vw;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    height: 100vh;
    width: 100vw;
    opacity: 1;
  }
  100% {
    height: 100vh;
    width: 100vw;
    opacity: 0;
  }
}
.loader {
  -webkit-animation: loader 2s ease-in;
          animation: loader 2s ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  pointer-events: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  height: 0px;
  width: 0px;
  background-color: #FFF;
}
.loader::after {
  content: " ";
  border: 1rem solid #eaeaea;
  border-top: 1rem solid #FF79DA;
  border-bottom: 1rem solid #9356DC;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  margin: auto;
}

@-webkit-keyframes delay_dishes {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
            animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
}

@keyframes delay_dishes {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
            animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
}
.starter_dish {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: delay_dishes 2s forwards;
          animation: delay_dishes 2s forwards;
}

.main_dish {
  -webkit-animation: delay_dishes 2s 500ms both;
          animation: delay_dishes 2s 500ms both;
}

.desserts {
  -webkit-animation: delay_dishes 2s 1000ms both;
          animation: delay_dishes 2s 1000ms both;
}

/* Animation pour les éléments d'entrée */
@-webkit-keyframes starter_dish {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes starter_dish {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Animation pour les éléments de plat */
@-webkit-keyframes main_dish {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes main_dish {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Animation pour les éléments de dessert */
@-webkit-keyframes dessert {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes dessert {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes heart_filling {
  0% {
    opacity: 0.04;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  15% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  95% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heart_filling {
  0% {
    opacity: 0.04;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  15% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  95% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
main {
  font-family: "roboto", sans-serif;
}

header {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1 {
  margin: 1rem 0;
}

#location {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  padding: 1em;
}

.location_icon {
  margin-right: 1.06em;
}

#discover {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  justify-items: center;
  text-align: center;
}
#discover h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 1rem 2rem 0 2rem;
}
#discover p {
  color: #353535;
  margin: 1rem 1rem 0 2rem;
}

/** section Instructions **/
#instructions {
  background: #ffffff;
  display: grid;
}
#instructions h2 {
  margin: 2rem 2rem 2rem 2rem;
}
#instructions ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 3rem;
  padding: 0;
}
#instructions ul li {
  border-radius: 1.25rem;
  background: #F6F6F6;
  position: relative;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 1.5rem 1em 1.5em 2.5rem;
}
#instructions ul li .solid_icon {
  padding-right: 1rem;
}
#instructions ul span {
  position: absolute;
  padding: 0.2rem 0.5rem;
  background-color: #9356DC;
  border-radius: 50%;
  color: #F6F6F6;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 0rem;
  bottom: 1.3rem;
}

@media only screen and (min-width: 768px) {
  #instructions ul {
    margin: 1rem 4rem 3rem 4rem;
    gap: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  #instructions h2 {
    margin: 2rem 2rem 2rem 2rem;
  }
  #instructions ul {
    margin: 1rem 4rem 3rem 4rem;
  }
}
@media only screen and (min-width: 1025px) {
  #instructions h2 {
    margin: 2rem 2rem 2rem 5rem;
  }
  #instructions ul {
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 5rem 3rem 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  #instructions h2 {
    margin: 2rem 2rem 2rem 10rem;
  }
  #instructions ul {
    margin: 1rem 10rem 3rem 10rem;
  }
}
.button {
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  border-radius: 1.57rem;
  margin: 2rem;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

#restaurants {
  display: grid;
  background: #F6F6F6;
}
#restaurants h2 {
  margin: 2rem 2rem 2rem 2.5rem;
}
#restaurants ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}
#restaurants ul li {
  width: auto;
  height: 16rem;
  border-radius: 1em;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
#restaurants ul li span {
  position: absolute;
}
#restaurants ul li .new-contents {
  padding: 0.5em;
  border-radius: 0.15rem;
  background: #99E2D0;
  color: #008766;
  text-align: center;
  font-size: 0.8rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0.8rem;
  right: -1rem;
}
#restaurants ul li a img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
#restaurants ul li a h3 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0.5rem 0 0.1rem 1rem;
}
#restaurants ul li a p {
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  margin: 0.2rem 0 0 1rem;
}
#restaurants ul li .favorite_restaurant {
  position: absolute;
  top: 79%;
  right: 7%;
  font-size: 1.5rem;
}
#restaurants ul li .favorite_restaurant .like_button {
  width: 28px;
  font-size: 25px;
  padding: 0;
  border: transparent 0px solid;
  background-color: transparent;
  cursor: pointer;
}
#restaurants ul li .favorite_restaurant .like_button:hover .fa-heart {
  -webkit-animation: heart_filling 900ms forwards cubic-bezier(0.65, 1.01, 0.98, 1.06);
          animation: heart_filling 900ms forwards cubic-bezier(0.65, 1.01, 0.98, 1.06);
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  #restaurants ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1025px) {
  #restaurants h2 {
    margin: 2rem 2rem 2rem 5rem;
  }
  #restaurants ul {
    margin: 0 2.5rem;
    padding-bottom: 3.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  #restaurants h2 {
    margin: 2rem 2rem 2rem 10rem;
  }
  #restaurants ul {
    margin: 0 7.5rem;
    padding-bottom: 4rem;
  }
}
footer {
  display: grid;
  background: #353535;
  padding: 1rem 0;
}
footer ul {
  margin: 0;
}
footer a {
  color: #ffffff;
  font-size: 1rem;
  padding-right: 1rem;
  font-family: Roboto;
}

@media only screen and (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#website_logo {
  margin-bottom: 1rem;
}
#website_logo h5 {
  font-size: 1rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 768px) {
  #website_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.logo {
  font-family: Shrikhand;
  padding: 0 2.5rem;
  color: #ffffff;
}

.fa-utensils {
  padding-right: 0.5rem;
}

.fa-handshake-angle {
  padding-right: 0.5rem;
}/*# sourceMappingURL=Style.css.map */